# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# Resend
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=Company Name <noreply@yourdomain.com>

# Cron
CRON_SECRET=your_cron_secret

# White-label config
NEXT_PUBLIC_APP_NAME=your_app_name
NEXT_PUBLIC_THEME_COLOR=your_theme_color
NEXT_PUBLIC_APP_COMPANY_SLUG=your_company_slug
NEXT_PUBLIC_APP_URL=your_app_url
